.container {
    display: flex;
    align-items: start;
    gap: 24px;
    margin: 24px;
}

.text {
    color: #39414B;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
}